<footer class="row">
    <hr class="divisoria-azul">
    <div class="container">
        <div class="rodape row">
            <div class="col-sm-6">
                <address>
                    <p>Rua Maracanjura 58, apto 81</p>
                    <p>Telefone (13) 3232-3232</p>
                    <p>Celular (13) 9 9999-9999</p>
                </address>
            </div>
        </div>
    </div>
</footer>