<section class="master container-fluid">
        <div class="row">
            <section class="conteudo-branco-index">
                <div class="container">
                    <div class="row conteudo-index">
                        <div class="col-sm-9">
                            <h1>Nada melhor do que um lugar seguro!</h1>
                            <div class="row">
                                <p class="subtitulo-index col-sm-9">Está cansado de procurar por um lugar seguro para colocar seus produtos químicos perigosos? Então veio ao lugar certo, pois segurança é o nosso lema!</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <img src="~/Content/Imagens/container.png" class="img-responsive" alt="Container">
                        </div>
                    </div>
                </div>
            </section>
           
            <section>
                <hr class="divisoria-azul">
                <div class="col-sm-8 col-sm-offset-2 sobre-index">
                    <h3>Sobre a empresa</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio temporibus numquam ad. Molestias maxime porro, doloribus mollitia, rerum facilis eum fugit aliquam. Nobis labore laborum, iusto dolor doloribus cumque quasi dolorem totam. Perspiciatis, necessitatibus beatae debitis repudiandae illo nihil commodi consequuntur ipsum iusto minus delectus unde similique itaque rerum illum fuga vel perferendis qui repellendus a quae? Illum omnis tenetur soluta ex dolorem labore voluptates consequuntur velit necessitatibus maiores fugiat eaque vitae, quas culpa. Laudantium quisquam rem sed eaque magni tempore inventore soluta minus, dolore, laborum id ex, distinctio suscipit rerum. Voluptatem facere rerum eveniet labore dolore molestias iusto praesentium, tempora adipisci facilis.</p>
                </div>
            </section>
        </div>
    </section>