<div class="row">
    <section class="conteudo-branco">
        <div class="container">
            <div class="conteudo row">
                <div class="cabecalho col-sm-12">
                    <h1>Listagem de Produtos</h1>
                </div>
                <div class="container-lista">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Classe</th>
                                <th>Subclasse</th>
                                <th>Produto</th>
                                <th>Tipo de Armazenagem</th>
                                <th>Data Inicio</th>
                                <th>Data Fim</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in collection)
                            {

                                <tr>
                                    <td>Exemplo</td>
                                    <td>Exemplo</td>
                                    <td>Exemplo</td>
                                    <td>Exemplo</td>
                                    <td>Exemplo</td>
                                    <td>Exemplo</td>
                                    <td>Exemplo</td>
                                </tr>
                            }
                                
                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
